<mat-card class="card-wrapper">
    <mat-card-title class="margin-title">Language</mat-card-title>

    <mat-card-subtitle class="margin-title">
        Question Generation Preferred Language
    </mat-card-subtitle>
    <mat-card-content>
        <div fxLayout="column">
            <div class="form-button">
                <mat-form-field>
                    <mat-label>Language</mat-label>
                    <mat-select [(ngModel)]="selectedLanguage">
                        <mat-option *ngFor="let language of languages" [value]="language">{{ language }}</mat-option>
                    </mat-select>
                </mat-form-field>
                <button [disabled]="!selectedLanguage" (click)="startExam()" class="submit-button" color="primary" mat-raised-button>Start Exam
                </button>
            </div>
        </div>
    </mat-card-content>

</mat-card>


