<mat-card class="card-wrapper">
    <mat-card-title class="margin-title">Settings</mat-card-title>

    <mat-card-subtitle class="margin-title">
        Select Exam Settings
    </mat-card-subtitle>
    <mat-card-content>
        <div fxLayout="column">
            <div class="form-button">
                <div style="width: 100%">

                    <div fxLayout="column">
                        <mat-form-field appearance="fill">
                            <mat-label>Select Exam Type</mat-label>
                            <mat-select [(ngModel)]="selectedExamType">
                                <mat-option *ngFor="let type of examTypes" [value]="type">{{ type }}</mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field appearance="fill">
                            <mat-label>Select Difficulty</mat-label>
                            <mat-select [(ngModel)]="selectedDifficulty">
                                <mat-option *ngFor="let level of difficultyLevels"
                                            [value]="level">{{ level }}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div *ngIf="selectedExamType == 'Writing'" fxLayout="column">
                        <mat-form-field appearance="fill">
                            <mat-label>Select Question Type</mat-label>
                            <mat-select [(ngModel)]="selectedQuestionType">
                                <mat-option *ngFor="let type of questionTypes" [value]="type">{{ type }}</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field appearance="fill">
                            <mat-label>Select Content Type</mat-label>
                            <mat-select [(ngModel)]="selectedInputType">
                                <mat-option *ngFor="let type of inputTypes" [value]="type">{{ type }}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div *ngIf="selectedExamType == 'Writing' && (selectedInputType=='PDF'||selectedInputType=='Image')"
                         fxLayout="row">
                        <mat-label class="mr-10">Upload PDF</mat-label>
                        <input (change)="onFileSelected($event)" accept="application/pdf" type="file"/>
                    </div>
                    <div *ngIf="selectedExamType == 'Writing' && selectedInputType=='Text'"
                         fxLayout="row">
                        <mat-form-field appearance="fill">
                            <mat-label class="mr-10">Insert Text</mat-label>
                            <input  matInput placeholder="Enter text" [(ngModel)]="enteredText">
                        </mat-form-field>
                    </div>
                </div>
                <button [disabled]="!selectedExamType"(click)="startExam()" class="submit-button" color="primary" mat-raised-button>Start Exam
                </button>
            </div>
        </div>
    </mat-card-content>

</mat-card>

