<div>
    <button (click)="startRecording()" *ngIf="!isRecording && !blobUrl" class="start-button">Start
        Recording
    </button>
    <button (click)="stopRecording()" *ngIf="isRecording && !blobUrl" class="stop-button">Stop
        Recording
    </button>
    <button (click)="clearRecordedData()" *ngIf="!isRecording && blobUrl" class="cancel-button">Clear
        Recording
    </button>
    <br>
    <button (click)="download()" *ngIf="!isRecording && blobUrl" class="cancel-button">Download
        Recording
    </button>
    <div *ngIf="isRecording && !blobUrl"> {{recordedTime}} </div>
    <div>
        <audio *ngIf="!isRecording && blobUrl" controls>
            <source [src]="blobUrl" type="audio/webm">
        </audio>
    </div>
</div>
<button (click)="submitExam()" class="submit-button" color="primary" mat-raised-button>Submit</button>

