<section class="cards" >
    <article *ngFor="let cardItem of cardItems" class="card {{cardItem.image?cardItem.image:'card--2'}}" (click)="startExam(cardItem)">
        <div class="card__info-hover">

        </div>
        <div class="card__img"></div>
        <a href="#" class="card_link">
            <div class="card__img--hover"></div>
        </a>
        <div class="card__info">
            <span class="card__category"> {{cardItem.description}}</span>
            <h3 class="card__title">{{cardItem.title}}</h3>
        </div>
    </article>
</section>
