<!--Display MCQ questions if selectedQuestionType is 'MCQ'-->
<mat-card class="card-wrapper">
    <div *ngIf="settings?.selectedQuestionType === 'MCQ' && settings?.selectedExamType !== 'Listening'"
         class="submit-button  margin-title form-button">
        <app-timer fxFlexAlign="end" class="Layout-aside-inner" (timeExpired)="handleTimeExpired()" *ngIf="questions.length>0" [duration]="120"></app-timer>
        <mat-card-title class="margin-title">Answer the following questions</mat-card-title>

        <mat-card-subtitle class="margin-title">
            Question type: MCQ
        </mat-card-subtitle>
        <div *ngFor="let question of questions" class="radio-div cart">
            <mat-card-content class="question-card">
                <div class="">
                    <p class="question-text">{{ question?.question }}</p>
                    <mat-radio-group [(ngModel)]="selectedAnswers[question.id]" class="radio-group">
                        <mat-radio-button *ngFor="let option of question?.options" [value]="option"
                                          class="radio-button">
                            {{ option }}
                        </mat-radio-button>
                    </mat-radio-group>
                </div>
            </mat-card-content>
        </div>

        <button (click)="submitExam()" [disabled]="isTimeExpired" class="submit-button" color="primary"
                mat-raised-button>Submit
        </button>
    </div>
    <div *ngIf="settings?.selectedExamType === 'Speaking'" class="submit-button  margin-title form-button">
        <mat-card-title class="margin-title">Speaking Assessment</mat-card-title>

        <mat-card-subtitle class="margin-title">
            Please Record Your Text
        </mat-card-subtitle>
        <div class="form-button">
            <mat-card-content>
                <app-speaking-exam></app-speaking-exam>
            </mat-card-content>
        </div>
    </div>
    <div *ngIf="settings?.selectedExamType === 'Listening'" class="submit-button  margin-title form-button">
        <mat-card-title class="margin-title">Listening Test</mat-card-title>

        <mat-card-subtitle class="margin-title">
            Listening Assessment Test
        </mat-card-subtitle>
        <div class="form-button">
            <mat-card-content>
                <app-lisening-exam></app-lisening-exam>
            </mat-card-content>
        </div>
    </div>
</mat-card>



