<!--Display MCQ questions if selectedQuestionType is 'MCQ'-->
<mat-card>
    <div *ngIf="settings?.selectedQuestionType === 'MCQ'">
        <app-timer [duration]="60"></app-timer>
        <h2>Multiple Choice Questions:</h2>
        <div *ngFor="let question of questions" class="question-card">
            <mat-card>
                <mat-card-content>
                    <p class="question-text">{{ question.question }}</p>
                    <mat-radio-group [(ngModel)]="selectedAnswers[question.id]" class="radio-group">
                        <mat-radio-button *ngFor="let option of question.options" [value]="option" class="radio-button">
                            {{ option }}
                        </mat-radio-button>
                    </mat-radio-group>
                </mat-card-content>
            </mat-card>
        </div>
        <button (click)="submitExam()" color="primary" mat-raised-button>Submit</button>
    </div>
</mat-card>
<div *ngIf="settings?.selectedExamType === 'Speaking'">
    <app-speaking-exam></app-speaking-exam>
</div>


