<h2>Select Exam Type:</h2>
<mat-form-field appearance="fill">
    <mat-label>Exam Type</mat-label>
    <mat-select [(ngModel)]="selectedExamType">
        <mat-option *ngFor="let type of examTypes" [value]="type">{{ type }}</mat-option>
    </mat-select>
</mat-form-field>

<h2>Select Difficulty:</h2>
<mat-form-field appearance="fill">
    <mat-label>Difficulty</mat-label>
    <mat-select [(ngModel)]="selectedDifficulty">
        <mat-option *ngFor="let level of difficultyLevels" [value]="level">{{ level }}</mat-option>
    </mat-select>
</mat-form-field>

<h2>Select Question Type:</h2>
<mat-form-field appearance="fill">
    <mat-label>Question Type</mat-label>
    <mat-select [(ngModel)]="selectedQuestionType">
        <mat-option *ngFor="let type of questionTypes" [value]="type">{{ type }}</mat-option>
    </mat-select>
</mat-form-field>

<button (click)="startExam()" color="primary" mat-raised-button>Start Exam</button>

<!-- Display MCQ questions if selectedQuestionType is 'MCQ' -->
<div *ngIf="selectedQuestionType === 'MCQ'">
    <app-timer *ngIf="selectedQuestionType === 'MCQ'" [duration]="60"></app-timer>

    <h2>Multiple Choice Questions:</h2>
    <div *ngFor="let question of questions">
        <p>{{ question.text }}</p>
        <mat-radio-group [(ngModel)]="selectedAnswers[question.id]">
            <mat-radio-button *ngFor="let option of question.options" [value]="option">{{ option }}</mat-radio-button>
        </mat-radio-group>
    </div>
    <button (click)="submitExam()" color="primary" mat-raised-button>Submit</button>
</div>

<!-- Display result if examSubmitted is true -->
<div *ngIf="examSubmitted">
    <h2>Exam Result:</h2>
    <p>Score: {{ score }}</p>
    <p>Percentage: {{ percentage }}%</p>
</div>